<header>
  <nav class="navbar  fixed-top  navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
    <div class="container-fluid">
      <div class="collapse navbar-collapse ">
        <ul  class="navbar-nav  mr-auto">
          <li *ngIf="$currentLocation !== '/dashboard' && $currentLocation !== '/profile' && $currentLocation !== '/'" class="nav-item">
            <button class="nav-link" (click)="goBack()" class="btn btn-primary btn-round">
              <i class="icon-center material-icons">arrow_back_ios</i>
              Volver
            </button>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <div class="d-flex align-items-center">
            <a class="item-menu" [routerLink]="['/dashboard']">
              <i class="material-icons">dashboard</i>
              <span>Dashboard</span>
            </a>
            <a class="item-menu"[routerLink]="['/profile']">
              <i class="icon-white material-icons">person</i>
              <span>Perfil</span>
            </a>
            <a class="item-menu" (click)="logout()">
              <i class="icon-white material-icons">logout</i>
              <span>Cerrar Sesión</span>
            </a>
          </div>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
</header>