<header>
  <nav class="navbar  fixed-top  navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
    <div class="container-fluid">
      <div class="collapse navbar-collapse ">
        <ul  class="navbar-nav  mr-auto">
          <li *ngIf="$currentLocation !== '/dashboard' && $currentLocation !== '/profile' && $currentLocation !== '/'" class="nav-item">
            <button class="nav-link" (click)="goBack()" class="btn btn-primary btn-round">
              <i class="icon-center material-icons">arrow_back_ios</i>
              Volver
            </button>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <h6 class="d-flex align-items-center">Hola {{currentUser.displayName}}</h6>
          <li *ngIf="currentUser" class="dropdown nav-item">
            <a href="javascript:;" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              <div *ngIf="currentUser" class="profile-photo-small">
                <img  class="rounded-circle img-fluid" [src]="currentUser.photoURL" alt="">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="javascript:;" class="dropdown-item" [routerLink]="['/profile']">Perfil</a>
              <a [routerLink]="['/dashboard']" class="dropdown-item">Dashboard</a>
              <a href="javascript:;" class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
</header>