.nav-item .nav-link.profile-photo .profile-photo-small{
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    &:hover{
        box-shadow: 6px 8px 23px 0px rgba(0,0,0,0.52);
    }
}
.dropdown-toggle::after{
    display: none;
}
.open>.dropdown-menu, .dropdown-menu.show{
    right: 20%;
    left: auto;
}
.btn-fab i.icon-center{
    left: 10%;
}