<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="card-body">
        <span class="bmd-formgroup">
            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">badge</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="displayName"
                        name="displayName" required>
                </div>
            </div>
        </span>
        <span class="bmd-formgroup">
            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="material-icons">insert_photo</span>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Photo" formControlName="photo" name="photo"
                        required>
                </div>
            </div>
        </span>
        <span class="bmd-formgroup">
            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">mail</i>
                        </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email..." formControlName="email" required>
                </div>
            </div>
        </span>
        <span class="bmd-formgroup">
            <div>
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password..." formControlName="password"
                            required>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <button type="submit" class="btn btn-info">Registrarse</button>
</form>