<div class="d-flex flex-row">
    <div class="col-md-9">
        <div class="detail">
            <h4> Dentro de los objetivos de las pruebas tenemos: </h4>
            <ol>
                <li>
                    <h5>Disminución del Preproceso de corrección de Defectos</h5>
                </li>
                <li>
                    <h5>Apropiación de la cultura de calidad por parte del equipo humano</h5>
                </li>
                <li>
                    <h5>Medición y control del producto durante la etapa de desarrollo de Software</h5>
                </li>
                <li>
                    <h5>Analisis de causas de defectos para apoyar la mejora de procesos de Software</h5>
                </li>
            </ol>
            <div>
                <h4> Como principales razónes de por que son necesarias la pruebas de Software tenemos las siguientes:
                </h4>
                <ol>
                    <li>
                        <h5 class="text-justify h5">Mejoran la Calidad: Las pruebas como fase de un proceso de desarrollo
                            de Software, mejoran la
                            calidad del producto final. Los defectos existen en el software por varios motivos: El
                            software
                            está escrito por humanos, los cuales cometen errores, presuponen cosas, pueden interpretar
                            situaciones incorrectamente… Tiempo para el desarrollo muy reducido. Condiciones
                            ambientales; un
                            producto puede funcionar muy bien en las condiciones donde se esté desarrollando, pero
                            cuando se
                            migra a un escenario más parecido al de producción pueden salir fallos originados únicamente
                            por
                            el entorno de ejecución. Y tales defectos existirán siempre por mucho que se pruebe y depure
                            el
                            producto tal y como dijo Dijktra en 1970.</h5>
                    </li>
                    <li>
                        <h5 class="text-justify h5">Ahorrar Costes: Una de las razones por la que es necesario probar es
                            que eliminar un defecto de
                            software cuesta mucho más cuanto más tarde se detecte. Si no se prueba durante el proceso de
                            desarrollo de software, encontrar un error en producción puede hacer que el producto no sea
                            rentable. Así de sencillo.</h5>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%201%2Fsections%2F1.4.png?alt=media&token=9391c164-4d3a-4e2b-bdd0-e27171349480"
            height="299">
    </div>
</div>