<div class="detail col-md-12">
    <div class="d-flex justify-content-center my-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%201%2Fsections%2F1.2.jpg?alt=media&amp;token=f1c17b78-43a7-4231-9799-a9d5a0f3d235" width="372">       
    </div>
    <p class="text-justify">Las pruebas de software son un conjunto de procesos con los que se pretende probar un sistema o aplicación en
            diferentes momentos para comprobar su correcto funcionamiento. Este tipo de pruebas abarca cualquier estadio
            del desarrollo del sistema, desde su creación hasta su puesta en producción. Lo interesante de las pruebas
            es que se puedan ejecutar de manera automática, para determinar en cualquier momento si tenemos una
            aplicación estable o si, por el contrario, un cambio en una parte ha afectado a otras partes sin que nos
            demos cuenta.</p>
</div>  