<div class="description">
    <div class="mb-3 mt-3">
        <p class="text-justify">Con el fin de poder detectar a tiempo cualquier error y garantizar que el producto cumple con todas las
            premisas establecidas, el testing debe existir en todas las fases de un proyecto: desde la toma de
            requerimientos en cliente, pasando por las reuniones de seguimiento, hasta la entrega del producto final. Es
            más, un proyecto carente de este proceso en todas sus fases acaba generando un mayor coste económico y un
            mayor esfuerzo durante la fase de pruebas.</p>
            <div class="d-flex justify-content-center">
                <img class="image-description" src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%201%2Fsections%2F1.1.png?alt=media&amp;token=c867f3f1-15ad-4d0c-8232-409ee38313cb">
            </div> 
    </div>
</div>