<div class="wrapperModule">
    <div class="contentTitle">
        <h1>Modulo 1</h1>
    </div>
    <div class="row container" *ngFor="let section of sections; let i=index">
        <div class="row">
            <div class="col-md-3">
                <div class="listContent">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-7">
                        <div class="contentDetail">
                            <div class="contentSubTitle">
                                <h2>{{ section.title }}</h2>
                            </div>
                        </div>
                        <div class="description" [innerHTML]="section.col1"></div>
                    </div>
                    <div class="col-md-5">
                        <img src="../../../assets/images/QA.png" alt="">
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>