<headerComponent></headerComponent>
<div class="wrapperModule">
    <div class="moduleTitle">
        <h1>Modulo 1</h1>
    </div>
    <div class="row mt-3">
            <div class="col-md-3">
                <ul class="listContent">
                        <li id="dotsCarrousel_{{i}}" class="dots-carrousel" data-target="#carouselExampleIndicators" *ngFor="let section of sections; index as i" [data-slide-to]="i" [class.active]="sectionActiveIndex == i" (click)="handlerActionSection(section, i)">
                            {{section.title}}
                        </li>
                </ul>
            </div>
            <div class="col-md-9 contentDetail">
                <h3 class="mainTitle">{{sections[sectionActiveIndex] ? sections[sectionActiveIndex].title : ''}}</h3>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                      <div id="sliderCarrousel_{{i}}" class="carousel-item" *ngFor="let section of sections; index as i" [class.active]="sectionActiveIndex == i">
                            <section class="row">
                              <div [innerHTML]="section.content"></div>
                            </section>
                      </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li id="dotsCarrousel_{{i}}"class="dots-carrousel" data-target="#carouselExampleIndicators" *ngFor="let section of sections; index as i" [data-slide-to]="i" [class.active]="sectionActiveIndex == i" (click)="handlerActionSection(section, i)"></li>
                    </ol>
                  </div>
            </div>
    </div>

</div>