<div class="wrapperModule">
    <div class="contentTitle">
        <h1>Modulo 1</h1>
    </div>
    <div class="row">
            <div class="col-md-3">
                <div class="listContent">
                    <ul>
                        <li *ngFor="let section of sections; index as i" (click)="handlerActionSection(i)">{{section.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let section of sections; index as i" [class.active]="sectionActiveIndex == i">
                          <div class="container">
                            <section class="row">
                                <div class="col-md-9">
                                  <div class="description" [innerHTML]="section.col1"></div>
                                </div>
                                <div class="col-md-3">
                                  <div class="description" [innerHTML]="section.col2"></div>
                                </div>
                            </section>
                          </div>
                         
                      </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li id="dotsCarrousel_{{i}}"class="dots-carrousel" data-target="#carouselExampleIndicators" *ngFor="let section of sections; index as i" data-slide-to="i" [class.active]="sectionActiveIndex == i" ></li>
                      </ol>
                  </div>
            </div>
    </div>

</div>