@import "./../../../styles.scss";
.wrapperModule{
    margin: 5% auto;
    max-width: none;
    width: 100%;
    & .contentTitle{
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        & > h1{
            font-size: 3rem;
        }
    }
    & .contentDetail{
        margin-left: 10px;
        display: flex;
        & .contentSubTitle{
            & >h2{
                font-size: 2rem;
            }
        }
    }
    & .listContent{
        & > li{
            &.active{
                font-weight: bold;
            }
        }
    }
}
img{
    width: 100%;
}
.carousel-indicators{
    position: relative;
    & > li{
        background-color: #000;
    }
}
@media (min-width: 1400px) {
    .wrapperModule{
        max-width: 1400px;
    }
}
