@import "./../../../styles.scss";
.wrapperModule{
    margin: 5% auto;
    max-width: none;
    width: 100%;
    & .moduleTitle{
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        & > h1{
            font-size: 3rem;
        }
    }
    & .contentDetail{
        & .mainTitle{
        font-weight: bold;
        font-size: 1.5rem;
        margin: 5px 0;
        }
    }
    & .listContent{
        & > li{
            &.active{
                font-weight: bold;
            }
        }
    }

    & .carousel{
        & > .carousel-inner{
            & > .carousel-item{
            }
        }
    }
}
img{
    width: 100%;
}
.carousel-indicators{
    position: relative;
    & > li{
        background-color: #000;
    }
}
@media (min-width: 1400px) {
    .wrapperModule{
        max-width: 1400px;
    }
}
