@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

.title{
    font-size: 48px;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    color: #FAFAFA;
}

.background{
    background-image: url("..//..//../assets/images/Home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

  .login-center {
    height: 100vh;
    align-items: center;
}

.card-login .card-header {
  margin: -40px 20px 15px;
  padding: 20px 0;
}
