<div class="background">
    <div class="row login-center">
        <div class="container">
            <div class="card card-login">
                <div class="card-header card-header-primary text-center">
                    <div class="card-text">
                        <h4 class="card-title">TesterLearning</h4>
                    </div>
                </div>
                <div class="card-body">                 
                </div>
                <div class="footer text-center">                   
                    <h1 class="text-center">{{ flagLogin ? 'Login' : 'Registro' }}</h1>
                    <login *ngIf="flagLogin"></login>
                    <signup *ngIf="!flagLogin"></signup>
                    <p *ngIf="flagLogin">No tienes una cuenta.<a (click)="flagLogin = false">Registrate</a></p>
                    <p *ngIf="!flagLogin">Ya tienes una cuenta ? <a (click)="flagLogin = true">Ingresa</a></p>
                </div>
            </div>
        </div>
    </div>
</div>