<div class="d-flex flex-row">
    <div class="col-md-7">
        <div class="detail mt-3">
            <p class="text-justify">Las pruebas no solo son sobre el software funcionando, podemos empezar desde mucho
                antes, desde la misma documentación, los probadores tenemos una gran capacidad de análisis, buscando
                todos los caminos y variantes que se pueden presentar, es por esto que apoyamos mucho con nuestra
                revisión temprana a la documentación, también durante el proceso de desarrollo de software.  </p>
            <p class="text-justify"> Aquí es
                donde entra en parte la experiencia, y es que los probadores podemos generar los casos de pruebas antes
                del inicio del desarrollo y allí es donde ahora se ha vuelvo muy importante trabajar con TDD, BDD y
                ATDD. Por favor incorpora este principio de pruebas tempranas en todos tus proyectos. </p>
        </div>
    </div>
    <div class="col-md-5 mt-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-4.png?alt=media&token=b75f00b9-4849-48b1-8d64-f145054aca94"
            height="159">
    </div>
</div>