<div class="d-flex flex-row">
    <div class="col-md-7">
        <div class="detail mt-3">
            <p class="text-justify">Si repetimos las mismas pruebas una y otra vez, eventualmente la misma serie de
                casos de pruebas dejará de encontrar defectos nuevos. Para superar esta “paradoja del pesticida”, los
                casos de pruebas deben revisarse periódicamente y deben escribirse nuevos casos de pruebas y diferentes,
                con esto podremos testear distintas partes del software o del sistema con el objetivo de poder detectar
                más defectos. Si te quedas repitiendo las mismas pruebas en las mismas condiciones no vas a ser
                efectivo. Los bugs se volverán resistentes a ti, es por eso que deberás cambiar tu pesticida (tu forma
                de testear) constantemente para poder encontrar nuevos defectos. </p>
        </div>
    </div>
    <div class="col-md-5 mt-3 mb-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-6.jpg?alt=media&token=6851eebd-04e2-45aa-a1d0-98f607ffd91b"
            height="360">
    </div>
</div>