<div class="col-md-12 detail">
    <div class="mb-3 mt-3">
        <p class="text-justify">Una de las prácticas más importantes y que se han ido dejando de lado al momento de
            hacer pruebas pero que es muy importante es el tener en cuenta
            los principios fundamentales de las pruebas. Estos son 7 principios esenciales que en lo posible se deben
            aplicar a todas las pruebas que se realicen al Software.
            Y estos principios son los siguientes:
        </p>
        <div class="d-flex text-justify">
            <ol>
                <li>Las pruebas demuestran la presencia de defectos</li>
                <li>No es posible realizar pruebas exhaustivas</li>
                <li>Pruebas Tempranas (“Early Testing”)</li>
                <li>Agrupamiento de Defectos (“Defect Clustering”)</li>
                <li>Paradoja del Pesticida</li>
                <li>Las pruebas dependen del contexto</li>
                <li>La falacia de la ausencia de errores</li>
            </ol>
        </div>
        <div class="d-flex justify-content-center">
            <img class="image-description" alt="" src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-1.jpg?alt=media&token=d7697ef5-006e-434a-b82e-48f044508a26" height="250px">
        </div> 
    </div>
</div>