<div class="d-flex flex-row">
    <div class="col-md-5 mt-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-5.png?alt=media&token=a93815ab-5a20-4973-9a32-70e6f140ed74" height="250">
    </div>
    <div class="col-md-7">
        <div class="detail mt-3">
            <p class="text-justify">Muchos probadores sabemos que cuando encontramos un defecto, encontraremos
                muchísimos más defectos cerca. Por ejemplo, me ha pasado que cuando veo que un mensaje está mal escrito
                o no tiene la ortografía correcta, sé que toda la aplicación será sensible a mis revisiones de
                presentación. También pasa muchas veces cuando pruebas si un campo de texto valida el tipo de dato o
                longitud que un usuario ingresa, cuando vemos que el primer campo “explota” por decirlo de algún modo,
                lo más probable es que los demás campos de texto del formulario también “explotarán”.  </p>
            <p class="text-justify"> No obstante,
                recomiendo a mis compañeros probadores ser flexibles en estos casos, quiero decir, si hemos detectado un
                defecto en alguna pantalla y sabemos que existen muchos más, es posible que sea conveniente volver a
                considerar el rumbo de las pruebas posteriores, porque no es el objetivo reportar y reportar y llenar a
                los desarrolladores de hallazgos o inconsistencias, sino que debemos plantearnos el objetivo de ayudar a
                construir o generar un software de calidad con el apoyo de todos. Esto es algo que me gusta mucho del
                testing ágil. </p>
        </div>
    </div>
</div>