<div class="col-md-12 detail">
    <div class="mb-3 mt-3">
        <p class="text-justify">Creo que la mayoría de los testers de aplicaciones del “común” podemos decir que aunque hemos encontrado demasiados hallazgos durante 
            nuestro proceso de pruebas, y aun cuando hemos realizado varias iteraciones, nunca vamos a decir que el sistema se encuentra al 100% en su calidad de software, 
            y esto lo decimos es porque no podemos estar seguros de que la aplicación ya no tiene defectos. Y de esto se trata este principio, el hecho de que realicemos pruebas 
            no quiere decir que se acaben los defectos. Muchas veces nos hemos encontrado que en Producción siempre sale ese caso atípico que se nos escapó a todos los integrantes 
            del proyecto, es por esto que las pruebas demuestran la presencia de defectos.
        </p>
        <div class="d-flex justify-content-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-2.png?alt=media&token=dc6599d7-58ca-4253-a140-fbf597cec4b6" alt="">
        </div>
    </div>
</div>
