<div class="col-md-12 detail">
    <div class="mb-3 mt-3">
        <p class="text-justify">Este punto es uno de los más importantes, porque el hecho de pruebas no es solamente
            detectar y corregir los defectos, de nada servirá el sistema si no es usable, o si no cumple con las
            expectativas o las necesidades de los usuarios finales. Así que por favor nunca digas que por el mero hecho
            de que el software que estés probando ya no le encuentres errores quiera decir que todo está bien, porque no
            nos podemos olvidar nunca del usuario final, que es lo que quiere, si le sirve la aplicación que se ha
            construido, y algo muy personal que deseo añadir, es si cumplimos con la experiencia de usuario que se
            desea. Recuerda siempre que no se puede introducir la calidad a través de las pruebas, la calidad tiene que
            construirse desde el principio.
        </p>
        <div class="d-flex justify-content-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-8.png?alt=media&token=d5da0a5d-ea65-479d-ae9f-a1871f3f49da"
                alt="">
        </div>
    </div>
</div>