<div class="col-md-12 detail">
    <div class="mb-3 mt-3">
        <p class="text-justify">Este principio me gusta mucho utilizarlo cuando mi cliente me pregunta cuánto tiempo me
            voy a demorar, y es que las pruebas dependen del contexto, es decir, no es lo mismo probar un software
            médico, a una página web o hasta un carrito de compras. Y sin irnos muy lejos, como es bien sabido, un único
            aplicativo dependerá su funcionamiento si está en un ambiente de pruebas a un ambiente de desarrollo. Es por
            esto que todo depende del contexto, no es lo mismo caminar 1 Kilómetro subiendo una montaña rocosa o si es
            solo un paso por la playa.
        </p>
        <div class="d-flex justify-content-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-7.jpg?alt=media&token=d2866f2b-84e1-4efa-a1d0-6e462747410c"
                alt="">
        </div>
    </div>
</div>