<div class="col-md-12 detail">
    <div class="mb-3 mt-3">
        <div class="d-flex justify-content-center mb-3">
            <img class="image-description" alt=""
                src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%202%2FSections%2F2-3.jpg?alt=media&token=9d204609-6dbb-47d8-a68a-224b10f5bfe5">
        </div>
        <p class="text-justify">Es muy complicado hacer absolutamente todas las combinaciones de casos posibles para
            poder probar un aplicativo, y digo complicado porque tal vez no sea imposible, si eres una súper compañía
            que tiene el musculo financiero y quieres invertir una gran cantidad de dinero en calidad, pues bueno, ese
            será tu caso pero no el de la mayoría. Normalmente probamos lo más riesgoso o aseguramos cierto porcentaje
            de calidad en el software. La generalidad de los testers no probamos absolutamente todo, exceptuando creería
            yo los probadores de la NASA o aparatos médicos, donde la vida de las personas se ve en juego, esto ya es un
            tema muy delicado que te lleva a pensar que tanto debes invertir en el aseguramiento de la calidad del
            software, y no obstante nos encontramos con errores que nadie ha detectado, es por esto que no es posible
            realizar pruebas exhaustivas.</p>
    </div>
</div>