<div class="form-group" >
    <h3>{{qst.title}}</h3>
    <div *ngIf="qst.type=='only-answer'" class="listOptions">
        <div class="form-check form-check-radio" *ngFor="let item of qst.content">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" [name]="item.name" (change)="onItemChange(qst.key,$event.target.value)" [id]="qst.key" [value]="item.value" >
                {{item.label}}
                <span class="circle">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </div>
</div>