.listOptions{
    margin: 10px 40px;
}
.autocomplete{
    & label.content {
        & input[type=text]{
            width: auto;
            text-align: center;
        }
    }
}
.title-question{
    word-break: break-all;
    word-break: break-word; 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
