<div class="form-group" >
    <h3 class="title-question">{{qst.title}}</h3>
    <section *ngIf="qst.type=='only-answer'" class="listOptions">
        <p>(Selecione una respuesta)</p>
        <div class="form-check form-check-radio" *ngFor="let item of qst.content">
            <label class="form-check-label">
                <input [disabled]="qst.answerUser" class="form-check-input" type="radio" [name]="qst.name" (change)="onItemChange(qst,$event.target.value)" [id]="item.name" [value]="item.value" [checked]="qst.answerUser && item.value == qst.answerUser">
                {{item.label}}
                <span class="circle">
                    <span class="check"></span>
                </span>
            </label>
        </div>
    </section>
    <section class="autocomplete" *ngIf="qst.type=='autocomplete'">
        <label class="content" *ngFor="let item of qst.content; index as i">
            <div *ngIf="item.type=='input'">
                <input *ngIf="!qst.answerUser" class="form-control" type="text" [name]="item.name" (change)="onItemChange(qst,$event)" [id]="item.name">
                <input *ngIf="qst.answerUser" [disabled]="qst.answerUser" class="form-control" type="text" [name]="item.name" (change)="onItemChange(qst,$event)" [id]="item.name" [value]="getNameToQuestion(item.name)"  >
            </div>
            <!-- <div *ngIf="qst.answerUser.length > 0">
                <input *ngIf="item.type=='input'" class="form-control" type="text" [name]="qst.name" [id]="item.name" >
            </div> -->
            <p class="title-question" *ngIf="item.type=='text'">{{item.label}}</p>
        </label>
    </section>
</div>