<div class="col-md-12 detail">
    <div class="d-flex justify-content-center mt-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%203%2FSections%2F3-7.jpg?alt=media&token=8214995c-0079-483e-85f1-e9b36f43020a"
            alt="" height="300">
    </div>
    <div class="mb-3 mt-3">
        <p class="text-justify">El final de la ejecución de la prueba y la entrega del producto final marca el inicio de
            la fase de cierre de la prueba.
            El equipo de control de calidad verifica los resultados de la prueba y los analiza con otros miembros del
            equipo.
            Algunos otros factores que consideran son la calidad del producto, la cobertura de la prueba y el costo del
            proyecto. Si
            hay una desviación de los valores estimados, se pueden realizar más análisis para identificar lo que no
            salió como se
            esperaba.</p>

        <p class="text-justify">Es una práctica esencial para los evaluadores reunirse y discutir la conclusión después
            de la prueba. Cualquier problema
            que surja durante las pruebas, fallas en las estrategias se puede discutir aquí. También puede trabajar para
            encontrar
            un enfoque mejor para las pruebas basado en los aprendizajes durante las pruebas.</p>

        <p class="text-justify">Aparte de eso, el equipo también considera las métricas de prueba, el cumplimiento de
            los objetivos y su cumplimiento de
            los plazos. Una vez que tengan una comprensión total de lo que sucedió, pueden evaluar toda la estrategia y
            el proceso
            de prueba.</p>

        En resumen:

        <ul>
            <li>Verifique que se completen todas las pruebas.</li>
            <li>Evalúe factores como la calidad, la cobertura de la prueba, el cronograma y el costo.</li>
            <li>Documente la conclusión.</li>
            <li>Discuta el aprendizaje y averigüe si se puede mejorar el proceso de prueba.</li>
            <li>Prepare el informe de cierre de la prueba.</li>
        </ul>
    </div>
</div>