<div class="col-md-12 detail">
    <div class="d-flex justify-content-center mt-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%203%2FSections%2F3-2.jpg?alt=media&token=01f2432c-8303-453e-8316-f91d3a6b55b7"
            alt="">
    </div>
    <div class="mb-3 mt-3">
        <p class="text-justify">Sus valiosos probadores de software deben ver, estudiar y analizar las especificaciones
            y requisitos disponibles. Ciertos requisitos producen resultados alimentándose con datos de entrada. En ese
            sentido, los probadores estudian los requisitos funcionales y no funcionales. Después de eso, deben elegir
            requisitos comprobables.
            Las actividades en esta fase incluye lluvia de ideas para el análisis de requisitos e identificación y
            priorización de requisitos de prueba. También incluyen la selección de requisitos para pruebas automáticas y
            manuales.

            En resumen:
            <ul>
                <li>Comprenda el resultado esperado del producto.</li>
                <li>Identifique las lagunas en las especificaciones.</li>
                <li>Recopile prioridades.</li>
                <li>Realice verificaciones de viabilidad de automatización.</li>
            </ul>            
        </p>
    </div>
</div>