<div class="d-flex flex-row">
    <div class="col-md-5 mt-3 justify-content-center align-self-center">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%203%2FSections%2F3-5.jpg?alt=media&token=ac19cdfe-6da7-4e1d-9f8e-e57c3398e919"
            height="220">
    </div>
    <div class="col-md-7">
        <div class="detail mt-3">
            <p class="text-justify">Las actividades de prueba necesitan ciertos factores ambientales, como servidores, marcos, hardware y
                software, para ejecutar casos de prueba desarrollados.
                La configuración de software y hardware, junto con la configuración de datos de prueba, son los componentes
                principales de esta fase. Y es obligatorio realizar pruebas de humo y equipar a los evaluadores con
                herramientas de notificación de errores.
                En la comunidad de desarrolladores, es común escuchar “se ejecutó en mi sistema, pero no en el tuyo”. Por lo
                tanto, es importante que su entorno de prueba cubra todos los entornos que usaría el usuario.</p>

            <p class="text-justify"> Por ejemplo, alguna función que funciona en Google Chrome no funciona en Internet Explorer. El
                funcionamiento de las funciones también difiere según los requisitos de software y hardware. Una
                característica puede funcionar sin problemas con 4 GB de RAM, pero puede crear problemas con 1 GB de RAM. La
                investigación sobre los entornos utilizados por los usuarios finales le ayudaría a priorizar sus entornos de
                prueba.
                El trabajo del gerente de QA que supervisa al equipo es encargarse de configurar el entorno de prueba.</p>

            En resumen:
            <ul>
                <li>Comprender los requisitos mínimos.</li>
                <li>Enumere el software y el hardware necesarios para diferentes niveles de rendimiento.</li>
                <li>Priorice los entornos de prueba.</li>
                <li>Configurar entornos de prueba.</li>
                <li>Prueba de humo en los entornos construidos.</li>
            </ul>       
        </div>
    </div>
</div>