<div class="col-md-12 detail">
    <div class="mb-3 mt-3">
        <p class="text-justify">Una aplicación está lista para probar una vez que el equipo haya terminado con todas las fases anteriores. Según el plan
            de prueba, los evaluadores ejecutan casos de prueba. También identifican, detectan y registran los defectos, informando
            así los errores. El equipo también es responsable de comparar los resultados esperados con el resultado real. Si se
            encuentra algún error, es necesario documentarlo para transmitirlo al equipo de desarrollo para que lo solucione.</p>

        <p class="text-justify">Una vez que el equipo de desarrollo elimina un error, comienzan las pruebas de regresión. Las pruebas de regresión
            sirven para garantizar que el software o la aplicación funcionan incluso después de implementar un cambio. Cuando pruebe
            después de una corrección de errores, pruebe el producto completo nuevamente. Porque la corrección de un error podría
            crear un error en alguna otra parte del producto. Y debido a que las mismas pruebas deben ejecutarse una y otra vez
            después de cada corrección e implementación, se recomienda utilizar scripts o herramientas de prueba automatizadas .</p>

            En resumen:
                         
                <ul>
                    <li>Ejecute casos de prueba.</li>
                    <li>Identificar la desviación del comportamiento esperado del producto.</li>
                    <li>Registre casos fallidos con detalles.</li>
                    <li>Pruebe de nuevo después de corregir los errores.</li>
                </ul>   
        <div class="d-flex justify-content-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%203%2FSections%2F3-6.png?alt=media&token=b31fb6e9-1ca2-4af3-bea1-edf534936a51"
                alt="">
        </div>
    </div>
</div>