<div class="d-flex flex-row">
    <div class="col-md-7">
        <div class="detail mt-3">
            <p class="text-justify">Basándose en el plan de prueba, los probadores diseñan y desarrollan casos de prueba. Los casos de prueba
                deben ser extensos y cubrir casi todos los casos posibles. Se deben recopilar todas las permutaciones y
                combinaciones aplicables. Puede priorizar estos casos de prueba investigando cuáles de ellos son más comunes
                o cuál de ellos afectaría más al producto.</p>
            <p class="text-justify"> Luego viene la verificación y validación de los requisitos especificados en la etapa de documentación.
                Además, la revisión, actualización y aprobación de scripts de automatización y casos de prueba son procesos
                esenciales de esta etapa. Esta fase también incluye la definición de diferentes condiciones de prueba con
                datos de entrada y resultados esperados. </p>
    
            En resumen:
                <ul>
                    <li>Investigar y recopilar posibles acciones sobre el producto.</li>
                    <li>Crea casos de prueba.</li>
                    <li>Priorice los casos de prueba.</li>
                    <li>Prepare scripts automatizados para casos de prueba.</li>
                </ul>           
        </div>
    </div>
    <div class="col-md-5 mt-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%203%2FSections%2F3-4.jpg?alt=media&token=f71d03f5-8b1e-4516-bee4-fc6761564205"
            height="325">
    </div>
</div>