<div class="col-md-12 detail">
    <div class="d-flex justify-content-center mt-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/testerlearning-21e1c.appspot.com/o/Chapters%2FModule%203%2FSections%2F3-3.jpg?alt=media&token=9b4e2c8c-ae3e-43e3-a333-2268d0fb8901"
            alt="" height="316">
    </div>
    <div class="mb-3 mt-3">
        <p class="text-justify">El segundo paso es la planificación de la prueba y el equipo de control de calidad crea este plan después de analizar
            todos los requisitos de prueba necesarios. Describen el alcance y los objetivos después de comprender el dominio del
            producto. Luego, el equipo analiza los riesgos involucrados y define los horarios y los entornos de prueba para crear
            una estrategia.
            
            Después de eso, la gerencia finaliza las herramientas y asigna roles y responsabilidades a las personas. También se
            define un cronograma aproximado mediante el cual se deben completar las pruebas de cada módulo.

            En resumen:
        <ul>
            <li>Prepare la documentación del plan de prueba.</li>
            <li>Estime tiempo y esfuerzos.</li>
            <li>Finalice en herramientas y plataforma.</li>
            <li>Asignar tareas a equipos e individuos.</li>
            <li>Identificar los requisitos de formación.</li>
        </ul>
        </p>
    </div>
</div>





