<headerComponent></headerComponent>
<div *ngIf="modules && modules.length > 0" class="position-relative container" style="height: 100vh;">
    <section class="position-relative">
        <balloon-button (click)="moduleSelect(module)" *ngFor="let module of modules; index as i;" [index]=i+1 [styleObj]=module [activeItem]="itemSelected && module.key == itemSelected.key"></balloon-button>
    </section>
    <section *ngIf="itemSelected" class="wrapperDescription">
        <description [item]="itemSelected"></description>
    </section>
</div>
