<headerComponent></headerComponent>
<div *ngIf="this.collectionService.modules && this.collectionService.modules.length > 0" class="position-relative container" style="height: 100vh;">
    <section class="position-relative">
        <balloon-button (click)="moduleSelect(module)" *ngFor="let module of this.collectionService.modules; index as i" [index]=i+1 [styleObj]=module [activeItem]="collectionService.moduleSelected && module.key == collectionService.moduleSelected.key"></balloon-button>
    </section>
    
    <section *ngIf="collectionService.moduleSelected" class="wrapperDescription">
        <div class="d-flex justify-content-center">
            <button [routerLink]="['/exam/EX001']" type="button" class="btn btn-primary btn-exam">EXAMEN FINAL</button>
        </div>
        <description [item]="collectionService.moduleSelected"></description>
    </section>
</div>